# compiled output
/dist/
/tmp/
/.wrangler/
/.netlify/
/.vercel/

# dependencies
/node_modules/

# misc
*.local
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/
.vercel
.env
.env.local
.env*.local
.postgres-url
!.env.sample
!.env.development
